n8n/04-apollo-people-lookup.json
{
  "name": "Apollo People Lookup (Simple)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "people-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "pl-001",
      "name": "Webhook",
      "webhookId": "apollo-people-lookup-v2"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nsd.results = [];\n\nconst body = $input.first().json.body || {};\nconst raw = (body.company_url || '').trim();\n\nif (!raw) {\n  throw new Error('company_url is required in the request body');\n}\n\nlet url = raw;\nif (!url.startsWith('http')) url = 'https://' + url;\nurl = url.replace(/\\/$/, '');\n\nreturn [{ json: { company_url: url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "pl-002",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_APOLLO_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ organization_linkedin_urls: [$json.company_url], person_seniorities: [\"owner\",\"founder\",\"c_suite\",\"partner\",\"vp\",\"head\",\"director\"], per_page: 10, page: 1 }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "id": "pl-003",
      "name": "Apollo People Search"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst people = Array.isArray(response.people) ? response.people : [];\n\nif (people.length === 0) {\n  return [{ json: { _no_people: true, message: 'No senior people found for this company' } }];\n}\n\nconst top5 = people.slice(0, 5);\nreturn top5.map(p => ({ json: { ...p, _no_people: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "id": "pl-004",
      "name": "Extract Top 5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "no-people-check",
              "leftValue": "={{ $json._no_people }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [960, 300],
      "id": "pl-005",
      "name": "People Found?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'No senior people found for this company' }) }}",
        "options": { "responseCode": 404 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 100],
      "id": "pl-006",
      "name": "Respond No People"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1200, 500],
      "id": "pl-007",
      "name": "Loop Over People"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_APOLLO_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ id: $json.id, reveal_personal_emails: true }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500],
      "id": "pl-008",
      "name": "Apollo Email Reveal"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!Array.isArray(sd.results)) sd.results = [];\n\nconst raw = $input.first().json;\nconst person = raw.person || raw;\n\nconst result = {\n  name:         person.name         || '',\n  title:        person.title        || '',\n  seniority:    person.seniority    || '',\n  email:        person.email        || (Array.isArray(person.personal_emails) ? person.personal_emails[0] : '') || '',\n  linkedin_url: person.linkedin_url || '',\n  location:     [person.city, person.state, person.country].filter(Boolean).join(', '),\n  phone:        (Array.isArray(person.phone_numbers) && person.phone_numbers[0]) ? (person.phone_numbers[0].sanitized_number || '') : ''\n};\n\nsd.results.push(result);\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 500],
      "id": "pl-009",
      "name": "Collect Result"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst results = Array.isArray(sd.results) ? [...sd.results] : [];\nsd.results = [];\n\nreturn [{ json: { success: true, total: results.length, people: results } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 100],
      "id": "pl-010",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 100],
      "id": "pl-011",
      "name": "Respond 200"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Apollo People Search", "type": "main", "index": 0 }]]
    },
    "Apollo People Search": {
      "main": [[{ "node": "Extract Top 5", "type": "main", "index": 0 }]]
    },
    "Extract Top 5": {
      "main": [[{ "node": "People Found?", "type": "main", "index": 0 }]]
    },
    "People Found?": {
      "main": [
        [{ "node": "Respond No People", "type": "main", "index": 0 }],
        [{ "node": "Loop Over People", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over People": {
      "main": [
        [{ "node": "Build Response", "type": "main", "index": 0 }],
        [{ "node": "Apollo Email Reveal", "type": "main", "index": 0 }]
      ]
    },
    "Apollo Email Reveal": {
      "main": [[{ "node": "Collect Result", "type": "main", "index": 0 }]]
    },
    "Collect Result": {
      "main": [[{ "node": "Loop Over People", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "apollo-people-lookup-v1-2026-06-24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc2ddcf46e07ce4b5c83b48c893f6ae8d62c38911f76f1529f0530071ca5c0d6"
  },
  "id": "ApolloSimplePeopleLookup01",
  "tags": []
}
